@import '../variables.css';

.MainPage {
  background-color: black;
}

.MainPage-container {
  margin: 0 auto;
  padding: 0 0 40px;
  /*max-width: var(--max-content-width);*/
}

.hexagon-game-grid {
  width: 100%;
  height: 100%;
}

.hexagon-container {
  width: 75%;
  display: inline-block;
}

.panel-container {
  width: 25%;
  display: inline-block;
  min-width: 280px;
  background-color: white;
}
